
<div class="container-fluid">

    <h2 class="text-center">Login</h2>

    <label for="username">Username</label>
    <input name="username"
           placeholder="Username"
           class="form-control"
           id="username"/>

    <label for="password">Password</label>
    <input name="password"
           placeholder="Password"
           type="password"
           class="form-control"
           id="password"/>

    <a class="btn btn-default btn-primary btn-block"
       href="profile.html"
       role="button">Login</a>

    <a class="btn btn-default btn-success btn-block"
       href="register.html"
       role="button">Register</a>
</div>