<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Profile</a>
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.ok(model.user._id,model.user)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>

</nav>


<div class="container-fluid">
    <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>
    <div ng-show="model.updateMessage" class="alert alert-success">{{model.updateMessage}}</div>
    <!--<div ng-show="model.deleteMessage" class="alert alert-success">{{model.deleteMessage}}</div>-->

    <label for="username">Username</label>
    <input name="username"
           ng-model="model.user.username"
           disabled
           placeholder="Username"
           class="form-control"
           id="username"/>

    <label for="email">Email</label>
    <input name="email"
           ng-model="model.user.email"
           placeholder="Email"
           type="email"
           class="form-control"
           id="email"/>

    <label for="first-name">First Name</label>
    <input name="first-name"
           ng-model="model.user.firstName"
           placeholder="First Name"
           class="form-control"
           id="first-name"/>

    <label for="last-name">Last Name</label>
    <input name="last-name"
           ng-model="model.user.lastName"
           placeholder="Last Name"
           class="form-control"
           id="last-name"/>

    <a ng-show="!model.deleteMessage" class="btn btn-default btn-primary btn-block"
       ng-click="model.website(model.user._id)"
       role="button">Websites</a>

    <a class="btn btn-default btn-warning btn-block"
       ng-click="model.logout()"
       role="button">Logout</a>

    <!--<a ng-show="!model.deleteMessage" class="btn btn-default btn-danger btn-block"
       ng-click="model.unregister()"
       role="button">Delete User</a>-->

</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
        ng-click="model.profile(model.user._id)">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>