<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Profile</a>
        <a class="navbar-nav navbar-brand pull-right"
           href="#">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>

</nav>


<div class="container-fluid">
    <label for="username">Username</label>
    <input name="username"
           ng-model="model.user.username"
           placeholder="Username"
           class="form-control"
           id="username"/>

    <label for="email">Email</label>
    <input name="email"
           placeholder="Email"
           type="email"
           class="form-control"
           id="email"/>

    <label for="first-name">First Name</label>
    <input name="first-name"
           ng-model="model.user.firstName"
           placeholder="First Name"
           class="form-control"
           id="first-name"/>

    <label for="last-name">Last Name</label>
    <input name="last-name"
           ng-model="model.user.lastName"
           placeholder="Last Name"
           class="form-control"
           id="last-name"/>

    <a class="btn btn-default btn-primary btn-block"
       href="website-list.html"
       role="button">Websites</a>

    <a class="btn btn-default btn-danger btn-block"
       href="login.html"
       role="button">Logout</a>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
           href="#">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>