<!--<nav class="nav navbar navbar-fixed-top">-->
<!--<div class="container-fluid">-->
    <!--<div class="contianer-fluid navbar-right">-->

    <!--<a class="navbar-nav navbar-brand"-->
       <!--ng-click="model.login()"-->
       <!--ng-show="!model.userId">Login</a>-->

    <!--<a class="navbar-nav"-->
       <!--ng-show="model.userId"-->
       <!--ng-click="model.profile()">Profile</a>-->

    <!--<a class="navbar-nav"-->
       <!--ng-show="model.userId"-->
       <!--ng-click="model.logout()">Logout</a>-->

    <!--</div>-->

    <!--<div class="nav nav-tabs navbar-left">-->
    <!--<a class="navbar-nav"-->
       <!--ng-show="model.userId"-->
       <!--ng-click="model.registerProject()">Register Project</a>-->

    <!--<a class="navbar-nav"-->
       <!--ng-show="model.userId||model.owner"-->
       <!--ng-click="model.updateProject()">Update Project</a>-->
    <!--</div>-->
<!--</div>-->
<!--</nav>-->

<div ng-include="'views/header/templates/header.view.client.html'"></div>
    <div ng-show="model.errorMessage"
         class="alert alert-danger">
        {{model.errorMessage}}
    </div>
    <div class="container-fluid">
        <div class="input-group inline">
            <input ng-model="model.searchText"
                   type="text"
                   placeholder="Search"
                   class="form-control wid2">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{model.domain}}<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="model.populateDrpDwn('User')">User</a></li>
                    <li><a ng-click="model.populateDrpDwn('Project')">Project</a></li>
                    <li><a ng-click="model.populateDrpDwn('Blueprint')">Blueprint</a></li>
                </ul>
            </div>
            <span class="input-group-btn">
            <a ng-click="model.search(model.domain,model.searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
            </span>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-xs-4" ng-repeat="photo in model.photos.photo">-->
                <!--<img ng-click="model.selectPhoto(photo)"-->
                     <!--ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>-->
            <!--</div>-->
        <!--</div>-->

        <div ng-show="model.noResults" class=" container-fluid alert alert-danger">
            No results
        </div>
    </div>

    <div ng-include="'views/Issue/templates/issue-search-list.view.client.html'"></div>
    <div ng-include="'views/User/templates/user-search-list.view.client.html'"></div>
    <div ng-include="'views/project/templates/project-list.html'"></div>
    <div ng-include="'views/project/templates/project-list.html'"></div>


  <nav class="nav navbar navbar-fixed-bottom">
      <a class="navbar-brand pull-right">
          Powered by GitHub
      </a>
  </nav>
