<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<script src="../public/vendor/angular/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="test.js"></script>
    <title>Login</title>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->
    <!--<link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="../public/vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid" ng-app="WamApp">

    <div ng-controller="loginController">

   <h2>{{ hello }}</h2>
   <h2 ng-show="messg">{{ messg }}</h2>

        <h2 class="text-center">Login</h2>

    <label for="username">Username</label>
    <input ng-model="user"
           name="username"
           placeholder="Username"
           class="form-control"
           id="username"/>

    <label for="password">Password</label>
    <input name="password"
           placeholder="Password"
           type="password"
           class="form-control"
           id="password"/>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="login(user)"
       href="#"
       role="button">Login</a>

    <a class="btn btn-default btn-success btn-block"
       href="register.html"
       role="button">Register</a>
    </div>
</div>


</body>
</html>
