<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>

    <title>New Page</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="visible-xs">
            <a class="navbar-nav navbar-brand"
               href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">New Page</a>
            <a class="navbar-nav navbar-brand pull-right"
               href="page-list.html">
                <span class="glyphicon glyphicon-ok"/>
            </a>
        </div>
        <div class="hidden-xs">
            <div class="col-xs-6 col-sm-4 upad-left">
                <a class="navbar-nav navbar-brand"
                   href="page-list.html">
                    <span class="glyphicon glyphicon-chevron-left"/>
                </a>
                <a class="navbar-brand">Pages</a>
                <a class="navbar-nav navbar-brand pull-right"
                   href="page-new.html">
                    <span class="glyphicon glyphicon-plus"/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-8 upad-right">
                <a class="navbar-brand">New Page</a>
                <a class="navbar-nav navbar-brand pull-right"
                   href="page-list.html">
                    <span class="glyphicon glyphicon-ok"/>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 hidden-xs border scroll">

            <ul class="list-group">
                <li>
                    <a href="widget-list.html">Blog Post</a>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li>
                    <a href="widget-list.html">Blogs</a>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li>
                    <a href="widget-list.html">Home</a>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li>
                    <a href="widget-list.html">About</a>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

                <li>
                    <a href="widget-list.html">Connect Us</a>
                    <a href="page-edit.html">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </li>

            </ul>

        </div>
        <div class="col-sm-8 col-xs-12">
            <label for="name">Name</label>

            <input id="name"
                   class="form-control"
                   value="Blog Post"/>

            <label for="title">Title</label>

            <input id="title"
                   class="form-control"
                   value="Posts from blog readers"/>

            <a class="btn btn-default btn-block btn-danger"
               href="page-list.html"
               role="button">Delete</a>
        </div>

    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
           href="profile.html">
            <span class="glyphicon glyphicon-user"/>
        </a>
    </div>

</nav>

</body>
</html>