<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Register</title>
    <link href="../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">

    <h2 class="text-center">Register</h2>

    <label for="username">Username</label>
    <input name="username"
           placeholder="Username"
           class="form-control"
           id="username"/>

    <label for="password">Password</label>
    <input name="password"
           placeholder="Password"
           type="password"
           class="form-control"
           id="password"/>

    <label for="verify-password">Verify Password</label>
    <input name="verfiy-password"
           placeholder="Verfiy Password"
           type="password"
           class="form-control"
           id="verify-password"/>

    <a class="btn btn-default btn-primary btn-block"
       href="profile.html"
       role="button">Register</a>

    <a class="btn btn-default btn-danger btn-block"
       href="login.html"
       role="button">Cancel</a>
</div>


</body>
</html>