<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>

    <title>Widgets</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand"
               href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">Widgets</a>
            <a class="navbar-nav navbar-brand pull-right"
               href="widget-chooser.html">
                <span class="glyphicon glyphicon-plus"/>
            </a>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">



        </ul>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand pull-right"
               href="profile.html">
                <span class="glyphicon glyphicon-user"/>
            </a>
        </div>
    </nav>

</nav>
</body>
</html>