<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>

    <title>Pages</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand"
               href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">Choose Widget</a>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">
            <li>
                <a href="widget-heading.html">Header</a>
             </li>
            <li>
                <a href="">Label</a>
            </li>
            <li>
                <a href="">HTML</a>
            </li>
            <li>
                <a href="">Text Input</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Button</a>
            </li>
            <li>
                <a href="widget-image.html">Image</a>
            </li>
            <li>
                <a href="widget-youtube.html">Youtube</a>
            </li>
            <li>
                <a href="">Data Table</a>
            </li>
            <li>
                <a href="">Repeater</a>
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand pull-right"
               href="profile.html">
                <span class="glyphicon glyphicon-user"/>
            </a>
        </div>

    </nav>

</body>
</html>