<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>

    <title>Widget Edit</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand"
               href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">Widget Edit</a>
            <a class="navbar-nav navbar-brand pull-right"
               href="widget-list.html">
                <span class="glyphicon glyphicon-ok"/>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <label for="name">Name</label>
        <input id="name"
               class="form-control"/>

        <label for="text">Text</label>
        <input id="text"
               class="form-control"/>

        <label for="url">URL</label>
        <input id="url"
               type="url"
               value="https://youtu.be/uLWLashCXHE"
               class="form-control"/>

        <label for="width">Width</label>
        <input id="width"
               type="number"
               class="form-control"/>


        <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand pull-right"
               href="profile.html">
                <span class="glyphicon glyphicon-user"/>
            </a>
        </div>

    </nav>

</body>
</html>