<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="../../vendor/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/styles.css" rel="stylesheet"/>

    <title>Widgets</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand"
               href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"/>
            </a>
            <a class="navbar-brand">Widgets</a>
            <a class="navbar-nav navbar-brand pull-right"
               href="widget-chooser.html">
                <span class="glyphicon glyphicon-plus"/>
            </a>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">
            <li class="widget">
                <div class="inline">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                    <h1>GIZMODO</h1>
            </li>

            <li class="widget">
                <div class="inline">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <p>US Senate Reaches Compromise on Emergency Zika Funding</p>
            </li>

            <li class="widget">
                <div class="inline">
                    <a href="widget-image.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <img width="100%"
                     src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Aedes_aegypti_feeding.jpg"/>
            </li>

            <li class="widget">
                <div class="inline">
                    <a href="widget-youtube.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <iframe width="100%"
                        src="https://www.youtube.com/embed/-C_jPcUkVrM"
                        frameborder="0"
                        allowfullscreen></iframe>
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-nav navbar-brand pull-right"
               href="profile.html">
                <span class="glyphicon glyphicon-user"/>
            </a>
        </div>

    </nav>

</body>
</html>