input,textarea,select {
    margin-bottom: 5px;
}


a:hover{
    text-decoration: none;
}

.btn-link:hover{
    text-decoration: none;
}

.navbar{
    background-color: #167fd8;
    border-color: #167fd8;
}

.navbar-brand {
    color: #fff;
    margin: auto;
}

body{
    padding-top:60px;
    padding-bottom: 60px
}

.navbar-brand{
    font-weight: bold;
}

@media (min-width: 0px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

li
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;

}

.border{
    border-right: 2px solid silver;
}

.widget{
    position: relative;
    margin-bottom: 15px;
}

.inline{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-bottom:10px;
    padding-right:15px;
    padding-top: 5px;
    background: white;
    z-index: 10;

}

.upad-left{
    padding-left:0px;
}

.upad-right{
    padding-right: 0px;
}

.no-display{
    display:none;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
