.btn{
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    margin: 5px;
}

body{
    padding-top:60px;
    padding-bottom: 60px
}

.navbar{
    background-color: #5e5e5e;
}

.navbar-brand {
    color: #fff;
    margin: auto;
}

.navbar a{
    color: #fff;
}

.navbar button span{
    background-color: #fff;
}

.dropdown-menu .white{
    color:#fff;
}



