<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand"
           ng-click="model.listWidget()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">Widget Edit</a>
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.updateWidget(model.widget)">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>
<div ng-include="model.getWidgetEditUrl(model.widget.widgetType)"></div>
<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.profile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>