<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand"
           ng-click="model.widgetList()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">Choose Widget</a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">

        <li ng-repeat="widget in model.widgets">
            <div ng-switch="model.widgetsFound">
                <div ng-switch-when="true">
                    <a class="btn btn-link"
                       ng-click="model.getWidgetUrl(widget._id)">{{widget.widgetType}}</a>
                </div>
                <div ng-switch-when="false">
                    <a class="btn btn-link"
                       ng-click="model.createWidget(widget)">{{widget.widgetType}}</a>
                </div>
            </div>
        </li>

    </ul>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.profile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>