<div class="container-fluid">
    <label for="title">Title</label>
    <input name="title"
           ng-model="model.bp.title"
           placeholder="Title"
           class="form-control"
           id="title"/>

    <label for="description">Description</label>
    <textarea name="description"
              ng-model="model.bp.description"
              placeholder="Title"
              class="form-control"
              rows="20"
              id="description"/>



    <a class="btn btn-block btn-primary"
       role="button"
       ng-click="model.createBlupeprint(model.bp)">Create</a>
</div>