<div class="container-fluid">
    <label for="title">Title</label>
    <input name="title"
           ng-model="model.bp.title"
           placeholder="Title"
           class="form-control"
           id="title"/>

    <label for="description">Description</label>
    <textarea name="description"
              ng-model="model.bp.description"
              placeholder="Title"
              class="form-control"
              rows="20"
              id="description"/>

    <label for="state">State</label>
    <label id="state">{{model.state}}</label>

    <label for="owner">Owner</label>
    <input name="owner"
           ng-model="model.bp.createdBy.username"
           class="form-control"
           disabled
           id="owner"/>

    <label for="project">Project</label>
    <input name="project"
           ng-model="model.bp.project.name"
           class="form-control"
           disabled
           id="project"/>


    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.approve(model.bp)"
       role="button">Approve</a>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.update(model.bp)"
       role="button">Update</a>

    <a class="btn btn-default btn-default btn-block"
       ng-click="model.back()"
       role="button">Back</a>

</div>