<div ng-include="'views/header/templates/header.view.client.html'"></div>

<div class="container-fluid">
    <div class="card">
        <h3 class="card-title">{{model.repo.name}}</h3>
        <div class="card-subtitle">Descritpion: {{model.repo.description}}</div>
        <div class="card-subtitle">Owner: {{model.repo.owner}}</div>
        <div class="card-subtitle">Created: {{model.repo.created}}</div>
        <div class="card-subtitle">Url: {{model.repo.url}}</div>
    </div>
    <div class="container-fluid">
        <a ng-click="model.back()"
           class="btn btn-default btn-success btn-block col-xs-8"
           role="button">Back</a>
    </div>


</div>