<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="project in model.projects">
            <div class="row">
                <div class="col-xs-4">{{project.name}}</div>
                <div class="col-xs-4">{{project.description}}</div>
                <div class="col-xs-2 pull-right">
                    <a ng-click="model.projectDetails(project.name)">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>