
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ProjectX</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li ng-show="model.user.username=='admin'" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="drpdwn"
                       aria-haspopup="true" aria-expanded="true">Project <span class="caret"></span></a>
                    <ul class="dropdown-menu menu-back" aria-labelledby="drpdwn">
                        <li><a class="white" href="#!/project/register">Add project</a></li>
                        <li><a class="white" href="#!/project/list">List project</a></li>
                        <!--<li><a class="white" href="#">Edit Project</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a class="white" href="#">Delete project</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" id="drpdwn1"
                       ng-show="model.user.username"
                       aria-haspopup="true" aria-expanded="true">Blueprint <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="drpdwn1">
                        <li><a class="white" href="#!/blueprint/register">Add blueprint</a></li>
                        <li><a class="white" href="#">List blueprint</a></li>
                        <li><a class="white" href="#">Edit blueprint</a></li>
                        <!--<li role="sepaator" class="divider"></li>-->
                        <!--<li><a class="white" href="#">Delete blueprint</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    </ul>
            </ul>
            <a class="navbar-nav navbar-brand pull-right"
               href="#!/login"
               ng-show="!model.user._id">
                <span class="glyphicon glyphicon-play-circle"></span>
            </a>
            <a class="navbar-nav navbar-brand pull-right"
               href=""
               ng-show="model.user._id"
               ng-click="logout()">
                <span class="glyphicon glyphicon-off"></span>
            </a>
            <a class="navbar-nav navbar-brand pull-right"
               ng-show="model.user._id"
               href="#!/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>