<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widget.name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           class="form-control"/>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           type="url"
           value="https://youtu.be/uLWLashCXHE"
           class="form-control"/>

    <label for="width">Width</label>
    <input id="width"
           ng-model="model.widget.width"
           value="100"
           class="form-control"/>

    <a ng-click="model.searchFlickr()"
       class="btn btn-danger btn-block">
        Search
    </a>
    <!--<input id="upload"-->
           <!--ng-model="model.widget.file"-->
           <!--type="file"-->
           <!--value="/upload/dummy.jpg"-->
           <!--class="form-control"/>-->

    <!--<a ng-click="model.uploadImage(model.widget)"-->
       <!--class="btn btn-primary btn-block">-->
        <!--Upload Image-->
    <!--</a>-->

    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <label for="upload">Upload</label>
        <input  id=upload name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" class="no-display"/>
        <input  name="userId"    value="{{model.userId}}"   class="no-display"/>
        <input  name="websiteId" value="{{model.websiteId}}"   class="no-display"/>
        <input  name="pageId"    value="{{model.pageId}}"   class="no-display"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   class="no-display"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block">
        Delete
    </a>

</div>