<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           ng-model="model.widget.name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           class="form-control"/>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           type="url"
           value="https://youtu.be/uLWLashCXHE"
           class="form-control"/>

    <label for="width">Width</label>
    <input id="width"
           ng-model="model.widget.width"
           class="form-control"/>


    <a ng-click="model.deleteWidget()"
       class="btn btn-danger btn-block">Delete</a>

</div>