<div class="container-fluid">

    <label for="username">Username</label>
    <input name="username"
           ng-model="model.user.username"
           disabled
           placeholder="Username"
           class="form-control"
           id="username"/>

    <label for="email">Email</label>
    <input name="email"
           ng-model="model.user.email"
           placeholder="Email"
           type="email"
           class="form-control"
           id="email"/>

    <label for="name">Name</label>
    <input name="first-name"
           ng-model="model.user.name"
           placeholder="Name"
           class="form-control"
           id="name"/>

    <label for="github-id">GitHub Id</label>
    <input name="github-id"
           ng-model="model.user.githubId"
           placeholder="GitHub ID"
           class="form-control"
           id="github-id"/>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.updateProfile(model.user._id,model.user)"
       role="button">Update</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.cancel()"
       role="button">Cancel</a>

</div>