<div ng-include="'views/header/templates/header.view.client.html'"></div>
<div class="container-fluid ">
    <div class="container-fluid">
    <div class="card">
    <h3 class="card-title text-center">{{model.user.username}}</h3>


    <div class="card-subtitle">Name : {{model.user.name}}</div>
    <div class="card-text">Email : {{model.user.email}}</div>
    <div class="card-text">GithubID : {{model.user.githubId}}</div>
    <div class="card-text">User Type : {{model.user.memberType}}</div>
    <div class="card-text">Member since : {{model.user.dateCreated}}</div>
    <!--<div id="renderIssue"></div>-->
    <ul class="list-group">
    <div ng-repeat="project in model.user.projects">
        <li>{{project}}</li>
    </div>
    </ul>

    <ul class="list-group">
    <div ng-repeat="issue in model.user.issues">
        <li>{{issue}}</li>
    </div>
    </ul>

    <div ng-repeat="blueprint in model.user.blueprints">
        {{blueprint}}
    </div>

        <ul class="list-group">
        <div ng-repeat="follower in model.user.followers">
            <li>{{follower.username}}</li>
        </div>
        </ul>
    </div>

    <div class="container-fluid">
    <a ng-click="model.follow(model.user._id)"
       ng-show="!model.following"
       class="btn btn-block btn-primarybtn btn-block btn-primary col-xs-8"
       role="button">Follow</a>

    <!--<a ng-click="model.follow(model.user._id)"-->
       <!--class="btn btn-block btn-primarybtn btn-block btn-primary col-xs-8"-->
       <!--role="button">Unfollow</a>-->

    <a ng-click="model.back()"
       class="btn btn-default btn-success btn-block col-xs-8"
       role="button">Back</a>
    </div>

    </div>

</div>