<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in model.users">
            <div class="row">
                <div class="col-xs-4">{{user.username}}</div>
                <div class="col-xs-4">{{user.name}}</div>
                <div class="col-xs-2">{{user.githubId}}</div>
                <div class="col-xs-2">
                    <a ng-click="model.issueDetails(user)">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>