<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand"
           ng-click="model.website()">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand">Pages</a>
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.newPage()">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>

<div ng-include="'views/page/templates/page-list.html'"></div>
<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.profile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>