<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="visible-xs">
            <a class="navbar-nav navbar-brand"
               ng-click="model.listPage()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand">New Page</a>
            <a class="navbar-nav navbar-brand pull-right"
               ng-click="model.createPage(model.page)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="hidden-xs">
            <div class="col-xs-6 col-sm-4 upad-left">
                <a class="navbar-nav navbar-brand"
                   ng-click="model.listPage()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand">Pages</a>
                <a class="navbar-nav navbar-brand pull-right"
                   ng-click="model.newPage()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-8 upad-right">
                <a class="navbar-brand">New Page</a>
                <a class="navbar-nav navbar-brand pull-right"
                   ng-click="model.createPage(model.page)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 hidden-xs border scroll">
            <div ng-include="'views/page/templates/page-list.html'"></div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <label for="name">Name</label>

            <input id="name"
                   ng-model="model.page.name"
                   class="form-control"
                   placeholder="Name"/>

            <label for="title">Title</label>

            <input id="title"
                   ng-model="model.page.description"
                   class="form-control"
                   placeholder="Title"/>
        </div>
    </div>
</div>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-nav navbar-brand pull-right"
           ng-click="model.profile()">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>

</nav>